.btn{
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    &_light{
        background: #6575dc;
        color: white;
    }
    &_dark{
        background: #000;
        color: #FFFF;
    }
}